.login{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.login__logo{
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.login__container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 20px;
}

.login__container > h1{
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container > form > h5{
    margin-bottom: 5px;
}

.login__container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}

.login__container > p{
    margin-top: 15px;
    font-size: 12px;
    text-align: center;
}

.login__signInBtn{
    background: rgb(236, 236, 142);
    border: 1px solid;
    border-color: rgb(240, 141, 75);
    margin-top: 10px;
    color: black;
    width: 100%;
    height: 30px;
    transition-duration: 0.2s;
    text-decoration: none;
    cursor: pointer;
    outline:none;
}
.login__signInBtn:hover{
    background-color: rgb(231, 231, 97);
}

.login__signInBtn:active{
    background-color: rgb(230, 176, 26);
}

.login__google{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 40px;
    background-color: white;
    color: black;
    border: 2px solid lightgray;
    transition-duration: 0.2s;
    text-decoration: none;
    cursor: pointer;
    outline:none;
}

.login__google:hover{
    background-color: rgb(112, 112, 112);
    color: white;
}

.login__google:active{
    background-color: darkgrey;
}

.login__google:hover .login__googleBtn{
    color: white;
}

.login__googleIcon{
    font-size: 22px;
}

.login__googleBtn {
    background-color: transparent;
    color: black;
    transition-duration: 0.2s;
}

.login__googleBtn:hover{
    background-color: transparent;
}

.login__registerBtn{
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgrey;
    color: black;
    transition-duration: 0.2s;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.login__registerBtn:hover{
    background-color: rgb(153, 152, 152);
}

.login__registerBtn:active{
    background-color: rgb(124, 124, 124)
}

.password__reset {
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    color: black;
    height: 30px;
}

.password__reset:hover{
    text-decoration: underline;
}

.password__reset:active{
    background-color: lightgray;
}